<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="veg.mediacapture.sdk.test.demo"
    android:versionCode="12"
    android:versionName="1.5.0"
    android:installLocation="auto" >

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/app"
        android:label="@string/app_short_name"
        android:largeHeap="true"
        android:launchMode="singleInstance" 
        android:noHistory="true"
        android:configChanges="orientation|screenSize"
        >
        <activity android:name="veg.mediacapture.sdk.test.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="veg.mediacapture.sdk.test.SettingsActivity"
            android:label="@string/settings_activity_title" >
        </activity>
    </application>

	<uses-sdk
	        android:minSdkVersion="16"
	        android:targetSdkVersion="18"/>
	
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

	<uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
		
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
</manifest>